<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title>New Helpdesk Incident</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-card class="example-card">
    <mat-card-header style="margin-left: -15px;">
      <mat-card-title>Incident Properties</mat-card-title>
      <mat-card-subtitle>Description is Mandatory</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field style="width: 100%;">
        <mat-label>Describe your incident</mat-label>
        <textarea ng-trim="false" maxlength="350" style="line-height: 1.5;" matInput matInput placeholder="Ex. The window in the meeting room..." matTextareaAutosize
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30" id="DESCRIPTION1" [(ngModel)]="description" ng-keypress="updateEditor()"></textarea>
          
        </mat-form-field>
        <span>{{description.length}} of 350</span> 
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" id="pbSubmit" [disabled]="description == ''" (click)="submitnewincident()">Submit <mat-icon inline=true>send</mat-icon></button>
    </mat-card-actions>
  </mat-card>
 
  
</ion-content>
