<ion-header>
  <ion-toolbar>
    <ion-title>Solved Incidents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" >
    <div class="list_div" *ngFor="let incident of incidents" [routerLink]="['../../tab3',incident.NR]" style="display: inline-flex;">
      <div class="user_image" [style.backgroundImage]="'url(assets/imgs/user.jpg)'"></div>
      <div class="content_div" >
        <ion-label class="username"><b>{{incident.SUBJECTTEXT }}</b></ion-label>
        <ion-label class="msg">{{ incident.DESCRIPTION }}</ion-label>
      </div>
      <ion-label class="time_lbl">{{ incident.INCIDENTDATE | date: "MM/dd/yyyy"}}</ion-label>
    </div>
  </div>
</ion-content>
