<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solved Incidents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item *ngFor="let incident of incidents" style="width: 100%;" [routerLink]="['../../incidentdetailsolved',incident.NR]"> 
<ion-grid style="width: 100%;"> 
  <ion-row >
    <ion-col size="2">
      <ion-item lines="none">
      <ion-avatar>
        <ion-img [src]="incident.IMAGEURL"></ion-img>
      </ion-avatar>
    </ion-item>
    </ion-col>
    <ion-col size="10">
      <ion-grid style="border:1"> 
      <ion-row style="padding-top: 5px;">
        <ion-col size="8">
           <span style="font-size: 12px;float:left"><b>{{incident.FULLNAME }}</b></span>
        </ion-col>
        <ion-col size="4">
          <label style="font-size: 12px;float:right">{{ incident.INCIDENTDATE | date: "MM/dd/yyyy"}}</label>
       </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col size="12">
        <label style="font-size: 12px;float:left">{{ incident.DESCRIPTION }}</label>
      </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;padding-bottom: 5px;">
        <ion-col size="6">
          <label style="font-size: 12px;float:left"><b>Priority:</b> {{ incident.PRIORITYNAME }}</label>
        </ion-col>
        <ion-col size="6">
          <label style="font-size: 12px;float:right"><b>Subject:</b> {{ incident.SUBJECTTEXT }}</label>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-col>    
  </ion-row> 
</ion-grid>

</ion-item>
</ion-list>